**/.classpath
**/.devlinks
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.egg-info
**/*.log
**/archive-reports
**/bin
**/build
**/data/generated
**/dist
**/docs/generated
**/include
**/lib
**/logs
**/node_modules
**/out
**/tmp
**/vendor
**/venv
**/__pycache__
